---
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>

    <style>{% include styles.css %}</style>
  </head>
  <body>
    <main>
      <h1>{{ site.name }}</h1>

      {% assign principles = site.data.wcag %}

      <nav>
        <ol>
          {% for principle in principles %}
            <li>
              <a href="#{{ principle.title | slugify }}">
                <strong>{{ principle.id }}</strong>
                {{ principle.title }}
              </a>
              <ol>
                {% for guideline in principle.guidelines %}
                  <li>
                    <a href="#{{ guideline.title | slugify }}">
                      <strong>{{ guideline.id }}</strong>
                      {{ guideline.title }}
                    </a>
                    <ol>
                      {% for criterion in guideline.criteria %}
                        <li>
                          <a href="#{{ criterion.title | slugify }}">
                            <strong>{{ criterion.id }}</strong>
                            {{ criterion.title }}
                          </a>
                        </li>
                      {% endfor %}
                    </ol>
                  </li>
                {% endfor %}
              </ol>
            </li>
          {% endfor %}
        </ol>
      </nav>

      {% for principle in principles %}
        <section>
          <h2 id="{{ principle.title | slugify }}">{{ principle.id }}. {{ principle.title }}</h2>
          <p>{{ principle.description }}</p>

          {% for guideline in principle.guidelines %}
            <section>
              <h3 id="{{ guideline.title | slugify }}">{{ guideline.id }}. {{ guideline.title }}</h3>
              <p>{{ guideline.description }}</p>

              {% for criterion in guideline.criteria %}
                <section>
                  <h4 id="{{ criterion.title | slugify }}">{{ criterion.id }}. {{ criterion.title }}</h4>
                  <p>Level {{ criterion.level }}</p>
                  <p>{{ criterion.description }}</p>

                  {% if criterion.techniques %}
                    <ul>
                      {% for technique in criterion.techniques %}
                        <li>
                          {% if technique.title != "" %}
                            <strong>{{ technique.title }}:</strong>
                          {% endif %}
                          {{ technique.description }}
                        </li>
                      {% endfor%}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </main>
  </body>
</html>
