---
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WCAG Reference</title>

    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      body {
        max-width: 50em;
        margin: 0 auto;
        padding: 0 1em;
        line-height: 1.5;
        font-family: sans-serif;
      }

      ul {
        padding-left: 1em;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>WCAG Reference</h1>

      {% assign principles = site.data.wcag %}

      <nav>
        <h2>Table of Contents</h2>
        <ul>
          {% for principle in principles %}
            <li>
              <a href="#{{ principle.title | slugify }}">{{ principle.title }}</a>
              <ul>
                {% for guideline in principle.guidelines %}
                  <li>
                    <a href="#{{ guideline.title | slugify }}">{{ guideline.title }}</a>
                    <ul>
                      {% for criterion in guideline.criteria %}
                        <li>
                          <a href="#{{ criterion.title | slugify }}">{{ criterion.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>

      {% for principle in principles %}
        <section>
          <h2 id="{{ principle.title | slugify }}">{{ principle.id }}. {{ principle.title }}</h2>
          <p>{{ principle.description }}</p>

          {% for guideline in principle.guidelines %}
            <section>
              <h3 id="{{ guideline.title | slugify }}">{{ guideline.id }}. {{ guideline.title }}</h3>
              <p>{{ guideline.description }}</p>

              {% for criterion in guideline.criteria %}
                <section>
                  <h4 id="{{ criterion.title | slugify }}">{{ criterion.id }}. {{ criterion.title }}</h4>
                  <p>Level {{ criterion.level }}</p>
                  <p>{{ criterion.description }}</p>

                  {% if criterion.techniques %}
                    <ul>
                      {% for technique in criterion.techniques %}
                        <li>
                          {% if technique.title != "" %}
                            <strong>{{ technique.title }}:</strong>
                          {% endif %}
                          {{ technique.description }}
                        </li>
                      {% endfor%}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </main>
  </body>
</html>
