*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
}

/**/

body {
  margin-left: 24em;
}

main {
  max-width: 50em;
  margin: 0 auto;
  padding: 0 1em;
}

nav {
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 24em;
  padding: 1em;
  border-right: 0.125em solid #e6e6e6;
}

nav ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  padding-top: 0.25em;
}

nav a {
  display: block;
  padding: 0.5em 0.75em;
  background-color: #e6e6e6;
  text-decoration: none;
  color: black;
}

/**/

nav > ol > li:first-child {
  padding-top: 0;
}

nav > ol ol li {
  position: relative;
  padding-left: 2em;
}

nav > ol ol li:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1em;
  border-left: 0.125em solid #e6e6e6;
}

nav > ol ol li:after {
  content: '';
  position: absolute;
  top: 1.4375em; /* magic number */
  left: 1em;
  width: 1em;
  border-bottom: 0.125em solid #e6e6e6;
}

nav > ol ol li:last-child:before {
  height: 1.4375em; /* magic number */
}
