---
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WCAG Reference</title>

    <style>
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        line-height: 1.5;
        font-family: sans-serif;
      }

      main {
        max-width: 48rem;
        margin: 0 auto;
        padding: 0 1em;
      }

      details ol {
        list-style: none;
      }

      section section {
        padding-left: 2.5rem;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>WCAG Reference</h1>

      <details>
        <summary>Table of Contents</summary>
        <nav>
          <ol>
            {% for principle in wcag %}
              <li>
                <a href="#{{ principle.title | slug }}">{{ principle.id }}. {{ principle.title }}</a>
                <ol>
                  {% for guideline in principle.guidelines %}
                    <li>
                      <a href="#{{ guideline.title | slug }}">{{ guideline.id }}. {{ guideline.title }}</a>
                      <ol>
                        {% for criterion in guideline.criteria %}
                          <li>
                            <a href="#{{ criterion.title | slug }}">{{ criterion.id }}. {{ criterion.title }}</a>
                          </li>
                        {% endfor %}
                      </ol>
                    </li>
                  {% endfor %}
                </ol>
              </li>
            {% endfor %}
          </ol>
        </nav>
      </details>

      {% for principle in wcag %}
        <section aria-labelledby="{{ principle.title | slug }}">
          <h2 id="{{ principle.title | slug }}">{{ principle.id }}. {{ principle.title }}</h2>
          <p>{{ principle.description }}</p>

          {% for guideline in principle.guidelines %}
            <section aria-labelledby="{{ guideline.title | slug }}">
              <h3 id="{{ guideline.title | slug }}">{{ guideline.id }}. {{ guideline.title }}</h3>
              <p>{{ guideline.description }}</p>

              {% for criterion in guideline.criteria %}
                <section aria-labelledby="{{ criterion.title | slug }}">
                  <h4 id="{{ criterion.title | slug }}">{{ criterion.id }}. {{ criterion.title }}</h4>
                  <p>Level {{ criterion.level }}</p>
                  <p>{{ criterion.description }}</p>

                  {% if criterion.techniques %}
                    <ul>
                      {% for technique in criterion.techniques %}
                        <li>
                          {% if technique.title != "" %}
                            <strong>{{ technique.title }}:</strong>
                          {% endif %}
                          {{ technique.description }}
                        </li>
                      {% endfor%}
                    </ul>
                  {% endif %}
                </section>
              {% endfor %}
            </section>
          {% endfor %}
        </section>
      {% endfor %}
    </main>
  </body>
</html>
